.Recent { //Bloque
    padding: 40px 0;
    &-title {
        font-size: 24px;
        font-weight: 700;

        &-black-title {
            $color: $black;
        }
    }
    
    &-item { //Elemento
        color: $darkBlue;
        font-size: 14px;

        &.black {
            $color: $black;
        }
    }
}
