.Navbar{
    padding-top: unset;
    left: 118px;
    padding: 0px 0px;

    &-logo{
        &-size{
            font-family: inherit;
            font-style: normal;
            font-size: 30px;
            font-weight: 900;
            line-height: 30px;
            text-shadow: 0 1px 0 $fondo-wh;
            padding: 10px;
            &-ligth{
                font-weight: 300;
            }

            a{
                text-decoration: none;
                color: $color-logo;
            }

            a:hover{
                background-color: transparent;
                color: $color-items-nav-hover;
                text-decoration: none;
            }
        }
    }
    
    &-items{
        display: flex;
        padding: 0px 0px;
        margin: 5px 0px 8px 0px;
        a:hover{
            background-color: transparent;
            color: $color-items-nav-hover;
            text-decoration: none;
        }
    }
    
    & &-submenu{
        left: unset;
        right: 0px;
        top: 53px;
        background-color: $backgrount-color-submenu;
        text-shadow: none;
        font-size: 14px;

        &-items:hover{
            color: $fondo-wh;
            background-color: $backgrount-submenu-hover;
        }

        &::before{
            content: "";
            border-style: solid;
            border-width: 0px 7px 8px 7px;
            border-color: transparent transparent $backgrount-color-submenu transparent;
            display: inline-block;
            height: 0;
            position: absolute;
            right: 11px;
            top: -6px;
            width: 0;
            padding: 13px 0px 0px -90px !important;
        }
    }

    & &-link{
        color: $color-items-nav;
        margin: 0px 10px;

    }
}

