.Carousel-presentation{
    margin: auto;
    position: relative;
    width: 1148px;

    &-text{
        color: $fondo-wh;
        display: table-cell;
        flex-direction: row;
        font-size: 78px;
        font-weight: 700;
        position: absolute;
        top: 35%;
        text-shadow: 1px 1px 1px $shadows-text-color;
        text-align: center;
        width: 100%;
        z-index: 10;
        .light{
            font-weight: 100;
        }
    }

    & &-indicators{
        background-color: transparent;
        border: 2px solid $border-color-indicator;
        border-radius: 10px;
        height: 10px;
        margin: 1px 9px;
        width: 10px;
        &.active{
            background-color: $fondo-wh;
        }
    }      
}