.Carousel-presentation{
    margin: auto;
    width: 1137px;
    margin-left: -24px;

    &-text{
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
        font-size: 78px;
        font-weight: 700;
        position: absolute;
        right: 15%;
        top: 35%;
        left: 21%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: $fondo-wh;
        text-align: center;
        display: flex;
        justify-content: space-around;
        .light{
            font-weight: 100;
        }
    }

    .carousel-indicators{
        li{
            width: 10px;
            height: 10px;
            margin: 1px 9px;
            border: 3px solid rgba(94, 94, 94, 0.7);
            border-radius: 10px;
        }
    }
}
