*{
    margin: 0px;
    padding: 0px;
}

.background-body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: $gray url(http://bootstrap.oxygenna.com/smartbox/images/backgrounds/bedge_grunge.png);
}

.custom-container{
    @extend %custom-container-style;
}

.light{
    font-weight: 300;
}

.footertuani{
    margin: 55px 0px 74px 71px;
}