*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.Backgrount-body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: #f2f2f4 url(http://bootstrap.oxygenna.com/smartbox/images/backgrounds/bedge_grunge.png);
}

.Container{
    background-color: $fondo-wh;
    width: 1150px;
    margin: 40px 40px 40px 60px;
    padding: 14px 30px;
    box-shadow: 0 0 20px 2px $color-sombra;
}

.container-2{
    @extend .Container;
       margin: 32px 0px 0px -49px;
       width: 1137px;
       padding: 50px;
}



.Services-title{
    text-align: center;
    margin: 25px 0px 25px 0px;
    padding: 10px 0 10px 0;
}

.cards{
    display: inline-flex;
    justify-content: space-between;

    &:card{
        margin: 25px;
    }
}

.cardd{
    margin: 35px;
}


.Service-title{
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.Service-container{

    &-image{
        &-web{
            background-image: url(../../images/landscape-2-1250x420.jpg);
            clip-path: circle(50% at 50% 50%);
            height: 150px;
            width: 150px;
            justify-content: space-between;
            margin: auto;
             position: relative;
            z-index: 100;
        }
        &-cloud{
            background-image: url(../../images/landscape-2-1250x420.jpg);
            clip-path: circle(50% at 50% 50%);
            height: 150px;
            width: 150px;
            justify-content: space-between;
            margin: auto;
             position: relative;
            z-index: 100;
        }
        &-social{
            background-image: url(../../images/landscape-2-1250x420.jpg);
            clip-path: circle(50% at 50% 50%);
            height: 150px;
            width: 150px;
            justify-content: space-between;
            margin: auto;
             position: relative;
            z-index: 100;
        }
        &-smart{
            background-image: url(../../images/landscape-2-1250x420.jpg);
            clip-path: circle(50% at 50% 50%);
            height: 150px;
            width: 150px;
            justify-content: space-between;
            margin: auto;
             position: relative;
            z-index: 100;
        }
    }
    
    
}
   


.Service-icon{
   //  background-image: url(../../images/icons-service/icons8-me-gusta-60.png);
   position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;

}  
.article-list{
    // content: bi bi-twitter;
    list-style: none;
    //font-family: ;
}

ul{list-style:none;}


.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    margin: 5px;
    
    
}

.imgCard{
    width: 200px;
    height: 150px;
    margin: 41px -20px 0px -31px;
    clip-path: circle(28% at 50% 50%);
}

.card-body h4 p{
    font-size: 18px;

}

.footertuani{
    margin: 55px 0px 74px 71px;
}


.Clients-sections{
    text-align: center;
    
    .light{
        font-weight: 400;
    }
}
  