%custom-container-style {
    background-color: $fondo-wh;
    box-shadow: 0 0 20px 2px $color-sombra;
    max-width: 1150px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 14px 0px;
}

%section-style-image{
    background-size: cover;
    border-radius: 50%;
    height: 150px;
    margin: auto;
    position: relative;
    width: 150px;
    z-index: 100;
}

@mixin padding-10 {
    padding: 10px;
}