%custom-container-style {
    background-color: $fondo-wh;
    box-shadow: 0 0 20px 2px $color-sombra;
    max-width: 1150px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 14px 0px;
}

%section-style-image{
    background-size: cover;
    border-radius: 50%;
    height: 120px;
    margin: auto;
    position: relative;
    width: 120px;
    z-index: 100;
}

%section-header-line{
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    background-color: $color-line;
    box-shadow: 0px 1px 0px $fondo-wh;
    top: 60%;
    z-index: 0;
}

@mixin padding-10 {
    padding: 10px;
}