// Colors
$black: #000;
$darkBlue: #42576a;
$gray: #f2f2f4;
$fondo-wh: #fff;

$color-logo: #5e5e5e;
$color-items-nav: #5e5e5e;
$color-nav: #000;
$color-nav-dark: #1882da;
$color-box: #2e94e7;
$color-sombra: rgba(0,0,0,0.6);
// $font-ligth: url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

$backgrount-items-navbar: rgba(68, 68, 68, 0.95);



