// Colors
$black: rgba(29, 29, 29, 0.795);
$darkBlue: #42576a;
$gray: #f2f2f4;
$fondo-wh: #fff;

$background-submenu-hover: #1c1c1c;
$background-color-submenu: rgba(68, 68, 68, 0.840);
$background-body-color: #f2f2f4;
$border-color-indicator: rgb(165, 165, 165);

$color-logo: #42576a;
$color-items-nav: #5e5e5e;
$color-nav: #000;
$color-nav-dark: #1882da;
$color-box: #2e94e7;
$color-sombra: rgba(0,0,0,0.6);
$color-items-nav-hover: #5f7e99;

$shadows-text-color: rgb(0 0 0 / 90%);




