// Colors
$black: #000;
$darkBlue: #42576a;
$gray: #f2f2f4;
$fondo-wh: #fff;

$color-logo: #42576a;
$backgrount-color-submenu: rgba(68, 68, 68, 0.95);
$color-items-nav: #5e5e5e;
$color-nav: #000;
$color-nav-dark: #1882da;
$color-box: #2e94e7;
$color-sombra: rgba(0,0,0,0.6);

$backgrount-submenu-hover: #1c1c1c;
$color-items-nav-hover: #5f7e99;



